
div{
  list-style-type: none;
}

body{
  background-color: beige;
}

.nav2{
width: 190px
}
/* li2{
  margin-left: 700px;
} */
href{
margin: 700px;
}
Section-title{
  font-size: 50px;
}
div{
  list-style-type: none;
}